{% extends 'base.html' %}

{% block content %}
<h1>Career overview of {{artist.name}}</h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card border border-white rounded bg-light">
                <h2>{{artist.name}}</h2>
                <img src="{{artist.image}}" class="card-img-top" style="height: 16vw; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text" style="color:#7efffb;">
                        Followers : {{artist.followers}}
                        <br>
                        <a href="https://open.spotify.com/artist/{{artist.id}}">Open artist Spotify page</a>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="{{artist.uri}}">See on desktop app</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div>
                <h2>Radar</h2>
                <div>{{radar|safe}}</div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h2>Metrics explanation :</h2>
    <p>
        Consistency: Takes in count years without any track release, albums/EPs/singles and tracks release dates variance.<br>
        Hard Working: Takes in count average number of tracks, EPs and albums per year.<br>
        Original: Takes in count the average number of samples used accorded to "whosampled.com".<br>
        Inspirational: Takes in count the average number of songs sampled and remixed used accorded to "whosampled.com".<br>
        G.O.A.T: Takes in count a potential top studio albums sales all-time rank, recent billboard appearances and number of Spotify followers.
    </p>
</div>

{% endblock %}